.toolbar {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tools {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.save__btn {
  padding: 10;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background: #1bb7ac;
  border: none;
  border-radius: 6px;
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.link {
  color: #ffffff;
  text-decoration: none;
}
