.logout__btn{
  padding: 10;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background: #1bb7ac;
  border: none;
  border-radius: 6px;
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:#ff0000;
}